@import "settings";

html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, ul, li, button
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  @include fontNormal;
}

body {
  filter: drop-shadow(0px 5px 8px rgba(0,0,0,.5));
}

#mainApp {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: transparent;

  .main-section {
    width: 300px;
    height: 325px;
    position: relative;
    margin: 0 auto;
    transition: .5s filter linear;
    filter: blur(0px);
  }

  .mainBackground {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  .reviewList {
    position: absolute;
    top: 15px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 40px; // account for controls and bottom of scroll

    .no-item-msg {
      position: absolute;
      width: 60%;
      height: 80%;
      overflow: hidden;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align: center;
      color: white;
      @include fontMdCn;
      font-size: 24px;

      span {
        p { @include fontItalic;
        font-size: 12px; }
        svg {
          margin-left: -10px;
          margin-bottom: 40px;
        }

      }

      p {
        svg {
          margin-bottom: -2px;
        }
      }
    }

    .reviewItem {
      width: 100%;
      margin-bottom: 5px;
      border-radius: $borderRadius - 1;
      background-color: $teal;
      position: relative;
      padding: 5px;

      .reviewContent {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: $borderRadius - 2;
        background-color: $meringue;
        position: relative;
        width: 100%;

        .reviewSource {
          min-width: 50px;
          text-align: center;

          * {
            color: #808080;
          }
        }

        .reviewInfo {
          padding-top: 10px;
          padding-bottom: 10px;
          flex-grow: 2;

          * {
            color: #4e5449;
          }

          .reviewAvg {
            font-size: 10px;
            @include fontItalic;
            position: relative;

            svg {
              position: relative;
              display: inline;
              margin-right: 5px;
              bottom: -2px;
            }

            .review-avg-text {
              font-weight: bold;
            }
          }

          .reviewTitle {
            margin-right: 10px;
            max-height: 45px;
            overflow: hidden;
            line-height: 14px;
            font-size: 14px;
            @include fontMdCnO;

            display: flex;
            flex-direction: row;
            align-items: center;

            a {
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }

        .reviewStatus {
          min-width: 85px;
          height: 70px;
          background-color: $lightMeringue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          h1 {
            text-align: center;
            width: 100%;
            @include fontBlkCn;
            color: $orange;

            a {
              @include fontBlkCn;
              color: $orange;
              text-decoration: none;
            }
          }

          .lg { font-size: 44px; margin-bottom: -12px; }
          .md { font-size: 24px; margin-bottom: -3px; }
          .sm { font-size: 10px; }

          h4 {
            font-size: 10px;
            text-align: center;
            width: 100%;
            color: $orange;
            margin: 0;
            padding: 0;
            @include fontItalic;
          }

          p {
            position: absolute;
            background-color: #10a1b2;
            top: -3px;
            right: -3px;
            height: 14px;

            span {
              position: relative;
              color: white;
              margin: 0px 2px;
              top: -1px;
              @include fontNormal;
              font-size: 9px;
            }
          }
        }

      }
    }

    .reviewLoading {
      animation: moveBG 1s linear 0s infinite;
      background-color: $lightBlue;
      background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PScxMDAnIHZpZXdCb3g9JzAgMCA1IDEwJz4NCgk8bGluZSB4MT0nLTInIHkxPScxJyB4Mj0nNycgeTI9JzEwJyBzdHJva2U9JyMxZGE2Y2MnIHN0cm9rZS13aWR0aD0nMi4wOScvPg0KCTxsaW5lIHgxPSctMicgeTE9JzYnIHgyPSc3JyB5Mj0nMTUnIHN0cm9rZT0nIzFkYTZjYycgc3Ryb2tlLXdpZHRoPScyLjA5Jy8+DQoJPGxpbmUgeDE9Jy0yJyB5MT0nLTQnIHgyPSc3JyB5Mj0nNScgc3Ryb2tlPScjMWRhNmNjJyBzdHJva2Utd2lkdGg9JzIuMDknLz4NCjwvc3ZnPg==');
      background-position: 0 0;
    }

    .reviewError {
      background-color: $errorRed;
    }

  }

  .mainControls
  {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    border-bottom-right-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    background-color: rgba(52,7,86,.85);
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    *:not(:first-child) {
      margin-left: 5px;
    }

    *:nth-child(3) {
      flex-grow: 2;
    }

    .last-update {
      font-size: 10px;
      @include fontMdCnO;
      opacity: .8;
      color: $teal;
      padding-left: 5px;
    }

    .sortMenu {
      flex-basis: 100%;
      text-align: right;

      * {
        display: inline;
      }

      button {
        background: transparent;
      }
    }

    svg {
      overflow: visible;
    }
  }

  .pointer { cursor: pointer }

  .blur {
    filter: blur(3px);
    pointer-events: none;
  }

  .add-item-container {

    z-index: $popupIndex;
    overflow: hidden;

    margin: auto;
    position: absolute;
    top: 20px; left: 0;  right: 0;

    width: 350px;
    height: 250px;
    background-color: $purple;
    filter: drop-shadow(0px 5px 8px rgba(0,0,0,.75));
    border-radius: $borderRadius;

    main {

      padding: 10px 10px 0 10px;

      h1 {
        @include fontBlkCn;
        color: $lightPurple;
        font-size: 42px;
        margin-bottom: 10px;
      }

      div {
        @include fontMdCnO;
        font-size: 14px;
        color: white;
        margin-bottom: 5px;
      }

      div.help-text {
        @include fontNormal;
        font-size: 11px;
        opacity: .5;
        margin-top: 15px;
        text-align: center;
      }

      input {
        width: 100%;
        height: 55px;
        color: white;
        padding: 0px 10px;
        font-size: 25px;
        @include fontNormal;
        background-color: darken($purple, 10);
        border-radius: $borderRadius;
        @include fontMdCnO;
      }

      input::-webkit-input-placeholder {
        color: $purple;
        @include fontMdCnO;
      }

      input:focus {
        box-shadow: 0 0 5px lighten($purple, 40);
        border: 1px solid lighten($purple, 40);
      }

      input.error, input:focus  .error {
        box-shadow: 0 0 5px #e70e65;
        border: 1px solid #e70e65;
      }

    }

    button.add-btn {
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      @include fontMdCn;
      cursor: pointer;
      font-size: 23px;
      background-color: $darkPurple;
      border-bottom-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    button.close-btn {
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: $darkPurple;
      width: 60px;
      height: 60px;

      transform:
        translateY(-30px)
        translateX(30px)
        rotate(45deg);

      svg {
        position: absolute;
        bottom: 6px;
        right: 20px;
        opacity: .8;
        transform: rotate(45deg);
      }
    }

  }
  
}

:focus { outline: none; }

*
{
  color: white;
  box-sizing: border-box;
}

/* Animations */

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}

.spin {
  animation-name: fullRotate;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 48% 50%;
  animation-timing-function: linear;
  display: inline-block;
}

@keyframes fullRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stopSpin {
  animation-name: stopRotate;
  animation-duration: 2s;
  transform-origin: 48% 50%;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
}

@keyframes stopRotate {
  to {
    transform: rotate(0deg);
  }
}

@keyframes moveBG {
  100% {background-position: -100px 0;}
}

.list-animation-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.list-animation-enter.list-animation-enter-active {
  opacity: 1;
}

.list-animation-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-animation-leave.list-animation-leave-active {
  opacity: 0.01;
}

@keyframes jiggles {
  from {transform: rotateZ(.5deg);}
  50% {transform: rotateZ(-.5deg);}
  to {transform: rotateZ(.5deg);}
}

.jiggle {
  animation: jiggles .2s linear;
  animation-iteration-count: infinite;
}

.hide { visibility: hidden;  }
